.hero {
  font-family: helvetica;
}

#characterStats {

}

.portrait{
  float:left;
  max-height: 150px;
  margin: 5px;
}

.friends{
  float: left;
}

.enemies{
  float: left;
}

.powers{
  float: left;
}

.teams{
  float: left;
}
