<div class="header">Comics Connection</div>

<div class ="intro">Summon a character.</div>

<div class="search_box">
<input class="search_box" type="text" name="characterName" id = 'characterName' placeholder="Character name...">
<a href="#" class = 'submit'>Pull character data</a>

<div id= 'characterData'></div>

<div class = "friends"><button type="button" onclick="displayCharacter(character_friends)">Friends</div>

<div class = "enemies"><button type="button" onclick="displayCharacter(character_enemies)">Enemies</div>

<div class = "teams"><button type="button" onclick="displayCharacter(character_friends)">Teams</div>

<div class = "powers"><button type="button" onclick="displayCharacter(powers)">Powers</div>

    <div id= 'characterData'></div>
    <div id= 'characterStats'></div>
    <svg></svg>


