<h1 class="header">Comics Connection!</h1>



<div class="search">
<input class="search_box" type="text" name="characterName" id = 'characterName' placeholder="Character name...">
<a href="#" class = 'submit'>Summon a character</a>
</div>

<div id= 'characterData'></div>

<!-- <div class = "friends"><button type="button">Friends</div>

<div class = "enemies"><button type="button">Enemies</div>

<div class = "teams"><button type="button">Teams</div>

<div class = "powers"><button type="button">Powers</div> -->
<!--
    <div id= 'characterData'></div>
    <div id= 'characterStats'></div> -->
    <svg></svg>


