<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comics Connection</title>

  <script src = "javascripts/jquery.js"></script>
  <script src = "javascripts/underscore.js"></script>
  <script src = "javascripts/backbone.js"></script>
  <script src = "javascripts/scripts.js"></script>
  <script src = "javascripts/app.js"></script>

  <link rel="stylesheet" href="stylesheets/styles.css">

</head>
<body> -->
  <h1>Comics Connection</h1>

  <p>Enter a character to get a list of that characters enemies.</p>

    <input type="text" name="characterName" id = 'characterName' placeholder="Character name...">

    <a href="#" class = 'submit'>Pull character data</a>
    <div id= 'characterData'></div>
    <div id= 'characterStats'></div>

<!-- </body>
</html> -->
