<h1 class="header">Comics Connections!</h1>



<form class="search">
Summon a character</br>
<input class="search_box" type="text" name="characterName" id = 'characterName' placeholder="Character name...">
</form>

<div id= 'characterData'></div>

<div id= 'characterStats'></div>


